{% extends "base.html" %}
{% load widget_tweaks %}

{% block body %}
<section class="header">
  <div class="container col-8">
    <h2 class="title">Simple TodoLists</h2>
    <div class="mb-3">
      <form action="{% url 'todolist:new_todolist' %}" method=post>
        {% csrf_token %}
        <ul>
          {% for field in form.visible_fields %}
          <div class="form-group">
            <label for='{{ field.id_for_label }}'>{{ field.label }}</label>
            {{ field|add_class:"form-control" }}
          </div>
          {% endfor %}
          <input type="submit" class="btn btn-primary" value="Start one now">
          </ul>
      </form>
    </div>
  </div>
</section>
{% endblock %}
