{% extends "base.html" %}

{% block body %}
<section class="header">
  <div class="container col-8">
    <div class="mb-3">
      <div class="h2">{{todolist.title}}</div>
      <form action="{% url 'todolist:add_todo' todolist.id %}" method=post>
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="form-group">
          <label for='{{ field.id_for_label }}'>{{ field.label }}</label>
          {{ field }}
        </div>
        {% endfor %}
        <input  class="btn btn-primary" type="submit" value="Submit">
      </form>
    </div>
    <div>
      <div>
        <h6>{{ todolist.count_open }} open</h6>
        <ul>
          {% for todo in todolist.todos.all %}
            {% if not todo.is_finished %}
              <li><input type="checkbox" id="checkbox" data-todo-id="{{ todo.id }}"> {{ todo.description }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div>
        <h6>{{ todolist.count_finished }} finished</h6>
        <ul>
          {% for todo in todolist.todos.all %}
            {% if todo.is_finished %}
            <li><input type="checkbox" id="checkbox" data-todo-id="{{ todo.id }}" checked="checked"> {{ todo.description }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}
