{% extends "base.html" %}
{% load widget_tweaks %}

{% block body %}
<section class="header">
  <div class="container col-8">
    <h2 class="title">Login</h2>
    <div class="mb-3">
      <form method=post>
        {% csrf_token %}
        <ul>
          {% for field in form.visible_fields %}
          <div class="form-group">
            <label for='{{ field.id_for_label }}'>{{ field.label }}</label>
            {{ field|add_class:"form-control" }}
          </div>
          {% if form.errors %}
          <section class='alert alert-danger' role='alert'>
            {{ form.errors }}
          </section>
          {% endif %}
          {% endfor %}
          <input type="submit" class="btn btn-primary" value="Login">
        </ul>
      </form>
      <p>New user? <a href="{% url 'auth:register' %}">Click here to register</a>.</p>
    </div>
  </div>
</section>
{% endblock %}